* { box-sizing: border-box; margin: 0; padding: 0; }

body, html {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

.navbar {
  position: absolute;
  top:0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  box-shadow: 0 2px 4px black;
  z-index: 10;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 10px 14px;
}

.navbar a:hover {
  background: #ddd;
  border-radius: 5px;
}

.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: black;
  color: white;
  display: none;
  flex-direction: column;
  padding-top: 60px;
}

.sidebar a {
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  display: block;
}

.sidebar a:hover {
  background: gray;
}


header {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

header h1,
header h2,
header h3 {
  font-size: 36px; 
  margin-bottom: 30px;
  color: black;
}

header p {
  font-size: 20px;
  max-width: 500px;
}

header a {
  display: inline-block;
  background: white;
  color: black;
  padding: 12px 24px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 4px;
}

header a:hover {
  background: white;
}

.user-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: white;
}

.choice-container {
  display: flex;
  gap: 500px;
}

.choice-button {
  width: 180px;
  height: 180px;
  border: 3px solid black;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: all 0.2s ease;
}

.choice-button .icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.choice-button:hover {
  background-color: white;
  transform: scale(1.05);
}

.signin-title {
  font-size: 28px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 100px;
  left: 60px;
  z-index: 5;
}